$primary-color: #202020;
$primary-background: #F9F4D0;

$gray95: #F3F3F3;
$gray90: #E6E6E6;
$gray85: #CCCCCC;
$gray80: #C0C0C0;
$gray75: #B3B3B3;
$gray70: #A6A6A6;
$gray65: #989898;
$gray60: #8C8C8C;
$gray55: #808080;
$gray50: #747474;
$gray45: #686868;
$gray40: #5C5C5C;
$gray35: #505050;
$gray30: #444444;
$gray25: #383838;
$gray20: #2E2E2E;
$gray15: #222222;
$gray10: #171717;
$gray5: #0C0C0C;

$card-black: $gray10;
$card-red: red;

$lord-color: #F0D510;
$loyal-color: #FF2040;
$traitor-color: #A034D3;
$rebel-color: #60C336;

$selected-border: #F0F524;